<?php echo $this->render('src/BlogBundle/Views/main/header.html', array(
    'title' => $title
))?>

<?php echo $this->render('src/BlogBundle/Views/breadcrumb.html', array(
    'breadcrumb' => $breadcrumb
))?>

<h1>Edytuj post <small>...czy coś chcesz zmienić?</small></h1>

<?php if (count($form->getErrors()) > 0) { ?>
    <div class="alert alert-danger">
        <p class="form-validation-error-label">Wystąpiły błędy <small>podczas walidacji formularza</small></p>
        <ol>
            <?php foreach ($form->getErrors() as $field => $messageFail) { ?>
                <li><?php echo $messageFail ?></li>
            <?php } ?>
        </ol>
    </div>
<?php } ?>

<form class="form-horizontal" method="post" action="/user/blog/<?php echo $blog->getId() ?>/post/<?php echo $post->getId() ?>">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Tytuł wpisu</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="title" value="<?php echo $form->getValue('title') ?>">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Treść wpisu</label>
        <div class="col-lg-10">
            <textarea class="form-control" name="text" rows="5"><?php echo $form->getValue('text') ?></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Modyfikuj</button>
        </div>
    </div>
</form>

<?php echo $this->render('src/BlogBundle/Views/main/footer.html') ?>
