<?php echo $this->render('src/BlogBundle/Views/main/header.html', array(
    'title' => $title
))?>

<?php echo $this->render('src/BlogBundle/Views/breadcrumb.html', array(
    'breadcrumb' => $breadcrumb
))?>

<h1>Zarządzaj blogiem <small>lista Twoich postów</small></h1>
<a class="btn btn-primary btn-sm pull-right" href="/user/blog/<?php echo $blog->getId() ?>/manage/new">Dodaj nowy wpis</a>

<div class="clearfix"></div>
<table class="table table-responsive table-blogs">
    <tr>
        <th>Tytuł</th>
        <th>Utworzono</th>
        <th>Akcje</th>
    </tr>
<?php foreach ($posts as $post) { ?>
    <tr>
        <td><?php echo $post->getTitle() ?></td>
        <td><?php echo $post->getCreatedAt() ?></td>
        <td>
            <a class="btn btn-info btn-xs" href="/user/blog/<?php echo $blog->getId() ?>/post/<?php echo $post->getId() ?>/edit"><span class="glyphicon glyphicon-wrench"></span> Edytuj</a>
            <a class="btn btn-info btn-xs" href="/user/blog/<?php echo $blog->getId() ?>/post/<?php echo $post->getId() ?>/destroy"><span class="glyphicon glyphicon-trash"></span>  Usuń</a>
        </td>
    </tr>
<?php } ?>
</table>

<?php echo $this->render('src/BlogBundle/Views/main/footer.html') ?>
