<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><?php echo $title ?></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Główna</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-md-3">
          <h2>Na skróty</h2>
          <ul class="nav nav-stacked">
            <li><a href="/session/new">Zaloguj</a></li>
            <li><a href="/user/new">Zarejestruj</a></li>
            <li><a href="/blog/top">Najczęściej oglądane</a></li>
          </ul>
      </div>
      <div class="col-md-9">
          <ol class="breadcrumb">
            <li class="active">Główna</li>
          </ol>
          