<?php echo $this->render('src/BlogBundle/Views/main/header.html', array(
    'title' => $title
))?>

<?php echo $this->render('src/BlogBundle/Views/breadcrumb.html', array(
    'breadcrumb' => $breadcrumb
))?>

<h1>Edycja bloga <small>aby bardziej dokładnie określić swój blog</small></h1>

<?php if (count($form->getErrors()) > 0) { ?>
    <div class="alert alert-danger">
        <p class="form-validation-error-label">Wystąpiły błędy <small>podczas walidacji formularza</small></p>
        <ol>
            <?php foreach ($form->getErrors() as $field => $messageFail) { ?>
                <li><?php echo $messageFail ?></li>
            <?php } ?>
        </ol>
    </div>
<?php } ?>

<form class="form-horizontal" method="post" action="/user/blog/<?php echo $blog->getId() ?>">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Tytuł</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="title" value="<?php echo $form->getValue('title') ?>">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Opis</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="description" value="<?php echo $form->getValue('description') ?>">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Domena</label>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3 form-column-domain-label">
                    http://www.logBlog.pl/b/
                </div>
                <div class="col-md-3 form-column-domain">
                    <input type="text" class="form-control" name="domain" value="<?php echo $form->getValue('domain') ?>">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Edytuj</button>
        </div>
    </div>
</form>

<?php echo $this->render('src/BlogBundle/Views/main/footer.html') ?>
