<?php echo $this->render('src/BlogBundle/Views/main/header.html', array(
    'title' => $title
))?>

<h1>Zarządzaj blogami <small>lista Twoich blogów</small></h1>
<a class="btn btn-primary btn-sm pull-right" href="/user/blogs/new">Dodaj nowy blog</a>

<div class="clearfix"></div>
<table class="table table-hover table-blogs">
    <tr>
        <th>Tytuł</th>
        <th>Opis</th>
        <th>Akcje</th>
    </tr>
<?php foreach ($blogs as $blog) { ?>
    <tr>
        <td><?php echo $blog->getTitle() ?></td>
        <td><?php echo $blog->getDescription() ?></td>
        <td>
            <a class="btn btn-info btn-xs" href="/user/blog/<?php echo $blog->getId() ?>/edit"><span class="glyphicon glyphicon-wrench">Edytuj</a>
            <a class="btn btn-info btn-xs" href="/user/blog/<?php echo $blog->getId() ?>/destroy"><span class="glyphicon glyphicon-trash"></span> Usuń</a>
        </td>
    </tr>
<?php } ?>
</table>

<?php echo $this->render('src/BlogBundle/Views/main/footer.html') ?>
